<form class="search">
    {{input value=model.q}}<button {{action "fetchResults"}}>Search</button>
</form>
<p class='result'>{{model.searchResults.origin}}</p>
{{#if isExpanded}}
  <button {{action "toggleBody"}}>Hide Body</button>
  <div class="body">
    {{stream-list title="List of Games" games=model.list}}
  </div>
{{else}}
  <button {{action "toggleBody"}}>Show Body</button>
{{/if}}

{{outlet}}
