<div>
  {{#if start}}
    <p>Search for Streams!</p>
  {{else if games.length}}
    <div class="row">
      {{#each games as |ele|}}
      <div class="col-sm-6 col-md-3">
        <div class="thumbnail">
          <img src={{ele.preview.large}} />
          <div class="caption">
            <h3><a href={{ele.channel.url}}>{{ele.channel.game}}</a></h3>
            <p>{{ele.channel.display_name}}</p>
            <p><strong>Views : </strong>{{ele.channel.views}}</p>
          </div>
        </div>
      </div>
      {{/each}}
    </div>
  {{/if}}
</div>

{{yield}}
